<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AlbumDao">
    <resultMap id="AlbumMap" type="Album">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="count" column="count"/>
        <result property="createDate" column="createDate"/>
        <result property="score" column="score"/>
        <result property="author" column="author"/>
        <result property="broadCast" column="broadCast"/>
        <result property="brief" column="brief"/>
        <result property="img" column="img"/>
        <collection property="children"  ofType="Chapter">
            <id property="id" column="cid"/>
            <result property="aid" column="caid"/>
            <result property="name" column="cname"/>
            <result property="size" column="csize"/>
            <result property="url" column="curl"/>
            <result property="time" column="ctime"/>
        </collection>
    </resultMap>
    <!--查询-->
    <select id="queryAll" resultMap="AlbumMap">
        select a.*,c.id cid ,c.aid caid,c.name cname,c.size csize,c.url curl,c.time ctime
        from album a
        left join chapter c
        on a.id = c.aid
    </select>

    <!--添加专辑-->
    <insert id="insert" parameterType="Album">
      insert  into album values(#{id},#{name},#{count},#{createDate},#{score},#{author},#{broadCast},#{brief},#{img})
    </insert>

    <!--查询单个专辑信息-->
    <select id="queryid" resultType="Album">
        select * from album where id = #{id}
    </select>

    <!--删除专辑-->
    <delete id="delete" parameterType="Album">
        delete from album where id=#{id}
    </delete>

    <!--修改专辑的集数-->
    <update id="updateCount" parameterType="Album">
        update album set count = #{1}
        where id = #{0}
    </update>



</mapper>