<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ChapterDao">
    <!--添加章节-->
    <insert id="insert" parameterType="Chapter">
      insert  into chapter values(#{id},#{aid},#{name},#{size},#{url},#{time})
    </insert>

    <!--删除章节-->
    <delete id="delete" parameterType="Chapter">
        delete from chapter where id=#{id}
    </delete>

    <!--根据父类id 删除章节-->
    <delete id="deletes" parameterType="Chapter">
        delete from chapter where aid=#{id}
    </delete>

    <!--查询某个专辑下的集数-->
    <select id="showCount" resultType="Integer">
         select count(*) from chapter where aid=#{aid}
    </select>



</mapper>